.admin{
    .layout1{
        height: 100vh;
        .layout2{
            .header{
                height: 100px;
            }
            .admin_content{
                background-color: #fff;
                margin:20px;
                margin-bottom: 0;
            }
            .footer{
                text-align: center;
                color: cornflowerblue ;
                opacity: .7;
            }
        }
    }
}